PER_PAGE = 9
SECRET_KEY = 'wRpjPt-JDV^Oz,hd?J\fGihuz[zedFS|&>JIa%(ugY+_vurQC%SRId^w@JmGoyxf'

#0 - false // 1 - true

DEBUG = 0

#0 - false // 1 - true
SELENIUM_HEADLESS = 1

# Database settings
# Sqlite
DATABASE_ENGINE = 'django.db.backends.sqlite3'
DATABASE_NAME = "./db.sqlite3"

# Postgres
DATABASE_ENGINE='django.db.backends.postgresql'
DATABASE_NAME="basededados"

DATABASE_USER = "alex"
DATABASE_PASSWORD = "senha"
DATABASE_HOST = "127.0.0.1"
DATABASE_PORT = "5432"


ALLOWED_HOSTS = '127.0.0.1, locahost'
CRSF_TRUSTED_ORIGINS = ''  